<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/sub-layout}">
    <head>
        <meta charset="utf-8" />
        <title>Forgot Password</title>
        <link rel="stylesheet" th:href="@{/static/css/pages/account.css}" type="text/css" />
    </head>
    <body >
        <!-- Start Account Pages -->
        <div class="account-pages" layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mb-5">
                            <img th:src="@{/static/images/logo.png}" alt="logo"/>
                        </div>
                    </div>
                </div>
                <div id="loadingForgotPassword"></div>
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-sm-12">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="p-2">
                                    <h5 class="mb-5 text-center"> Forgot Password </h5>
                                    <form id="frmForgotPassword"  method="post" th:action="@{/send-forgot-password}"
                                          name="forgotPassword" class="form-horizontal needs-validation" novalidate="" autocomplete="off" >
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-custom mb-4">
                                                    <label for="txtEmail">Enter your email to reset new password.</label>
                                                    <input type="email" 
                                                           class="form-control"
                                                           name="emailAddress" 
                                                           id="emailAddress"
                                                           placeholder="Email address"/>
                                                </div>
                                                <div class="mt-4">
                                                    <button class="btn btn-primary btn-block waves-effect waves-light" id="btnSendForgot" type="submit" >
                                                        Send Email
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- End Account Pages -->
    </body>
    <th:block layout:fragment="scripts">
        <th:block th:if="${messageSuccess != null}">
            <script>
                swal({
                    title: "success",
                    text: "Please check your email  to continues change password.",
                    type: "success",
                    confirmButtonColor: '#DD6B55',
                    closeOnConfirm: false
                }, function (isConfirm) {
                    window.location.href = 'login.html';
                });
            </script>
        </th:block>
        <th:block th:if="${messageFailed != null}">
            <script>
                showAlert("error", "Email input not exists in our system. Please check email again", "error", true);
            </script>
        </th:block>
        <th:block th:if="${errorSystem != null}">
            <script>
                showAlert("error", "System get error! Please contact with admin to resolve it", "error", true);
            </script>
        </th:block>
        <script>
            $().ready(function () {
                $("#frmForgotPassword").validate({
                    errorElement: 'span',
                    errorClass: 'txt--error font--12 mt--5',
                    focusInvalid: false,
                    rules: {
                        emailAddress: "required",
                    },
                    messages: {
                        emailAddress: "This fill is required",
                    },
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has--error');
                    }
                });
                $('#btnSendForgot').on('click', function () {
                    showWaitPage('#loadingForgotPassword');
                    $('#frmForgotPassword').submit();
                });
            });
        </script>
    </th:block>

</html>