<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/sub-layout}">
    <head>
        <meta charset="utf-8" />
        <title>Reset your Password</title>
        <link rel="stylesheet" th:href="@{/static/css/pages/account.css}" type="text/css" />
    </head>
    <body >
        <!-- Start Account Pages -->
        <div class="account-pages" layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mb-5">
                            <img th:src="@{/static/images/logo.png}" alt="logo"/>
                        </div>
                    </div>
                </div>
                <div id="loadingResetPassword"></div>
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-sm-12">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="p-2">
                                    <h5 class="mb-5 text-center"> Reset your Password </h5>
                                    <form id="frmReset"  method="post" th:action="@{/reset-password-by-token?token=} + ${param.token}"
                                          name="resetPassfrm" class="form-horizontal needs-validation" novalidate="" autocomplete="off" >
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-custom mb-4">
                                                    <label for="secretKey">Enter new password </label>
                                                    <input type="password" 
                                                           class="form-control"
                                                           name="password" 
                                                           id="password"
                                                           placeholder="Enter password"/>
                                                </div>
                                                <div class="form-group form-group-custom mb-4">
                                                    <label for="secretKey">Confirm new password </label>
                                                    <input type="password" 
                                                           class="form-control"
                                                           name="confirm_password" 
                                                           id="confirm_password"
                                                           placeholder="Confirm password"/>
                                                </div>
                                                <div class="mt-4">
                                                    <button class="btn btn-primary btn-block waves-effect waves-light" id="btnChangePassword" type="submit" >
                                                        Change password 
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- End Account Pages -->
    </body>
    <th:block layout:fragment="scripts">
        <th:block th:if="${messageSuccess != null}">
            <script>
                swal({
                    title: "success",
                    text: "Change password success !",
                    type: "success",
                    confirmButtonColor: '#DD6B55',
                    closeOnConfirm: false
                }, function (isConfirm) {
                    window.location.href = 'login.html';
                });
            </script>
        </th:block>
        <th:block th:if="${messageFailed != null}">
            <script>
                showAlert("", "Can't update !", "warning", true);
            </script>
        </th:block>
        <script>
            $().ready(function () {
                $("#frmReset").validate({
                    errorElement: 'span',
                    errorClass: 'txt--error font--12 mt--5',
                    focusInvalid: false,
                    rules: {
                        password: "required",
                        confirm_password: {
                            required: true,
                            equalTo: "#password"
                        }
                    },
                    messages: {
                        password: "This fill is required",
                        confirm_password: {
                            required: "This fill is required",
                            equalTo: "Ant matches password"
                        }
                    },
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has--error');
                    }
                });
                $('#btnChangePassword').on('click', function () {
                    showWaitPage('#loadingResetPassword');
                    $('#frmReset').submit();
                });
            });
        </script>
    </th:block>

</html>